server:
  port: ${MS_CLIENTES_PORT:8081}

spring:
  profiles:
    default: dev
  application:
    name: ms-clientes

  datasource:
    url: ${MS_CLIENTES_DB_URL:jdbc:postgresql://localhost:5432/clientes_db}
    username: ${MS_CLIENTES_DB_USERNAME:postgres}
    password: ${MS_CLIENTES_DB_PASSWORD:1234}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true
    baseline-on-migrate: true

  docker:
    compose:
      enabled: false

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:admin}
    password: ${RABBITMQ_PASSWORD:admin}

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} level=%-5level service=${spring.application.name} corr=%X{correlationId:-N/A} [%thread] %logger - %msg%n"
  level:
    core.cibertec.ms_clientes: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
