server:
  port: ${MS_CLIENTES_PORT:8081}

spring:
  application:
    name: ms-clientes

  datasource:
    url: ${MS_CLIENTES_DB_URL:jdbc:postgresql://localhost:5432/clientes_db}
    username: ${MS_CLIENTES_DB_USERNAME:postgres}
    password: ${MS_CLIENTES_DB_PASSWORD:1234}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  docker:
    compose:
      enabled: false

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:admin}
    password: ${RABBITMQ_PASSWORD:admin}

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
