server:
  port: 8081

spring:
  application:
    name: ms-clientes

  datasource:
    url: jdbc:postgresql://localhost:5432/clientes_db
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  docker:
    compose:
      enabled: false

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka