server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true               # Habilita rutas automáticas
          lower-case-service-id: true # Usa minúsculas en las rutas
      routes:
        - id: transportistas-service
          uri: lb://ms-transportistas   # Nombre del servicio en Eureka
          predicates:
            - Path=/api/transports/**
#        Incluir los demás servicios
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${random.value}